/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

/*RESETS*/
* {
    box-sizing: border-box;
}

/*COLOURS */
:root {
    --block-heading-line: #C6C6C6;
    --font-colour-light: #858789;
    --font-colour-dark: #232323;
    --font-colour-orange: #F56600;
    --font-colour-purple: #510D76;
    --font-color-blue: #08ADF5;
    --button-cta-bg: #F56600;
    --basic-icon-bg: #F1ECF4;
    --step-bg-colour: #B7B8BE;
    --step-active-colour: #161A1D;
    --collapse-border-colour: #E6EAEE;
    --box-shadow-colour: #F4F6F8;
}

/*GENERAL */
body {
    font-family: 'Poppins', sans-serif;
    padding: 2rem 2rem 0;
    max-width: 1600px;
    margin: auto;
}

/*STYLES */
.header-content {
    align-self: center;
}

.header-content h1 {
    font-size: 2.45rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--font-colour-dark);
}

.header-content p {
    color: var(--font-colour-light);
    font-size: 1.15rem;
    line-height: 2rem;
}

.header-cta {
    text-transform: uppercase;
    color: white;
    background: var(--button-cta-bg);
    font-weight: 900;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-size: 1.01rem;
}

.header-image {
    width: 40%;
    margin-left: 5%;
}

.section-heading {
    font-size: 1.9rem;
    color: var(--font-colour-dark);
    font-weight: 600;
    width: 75%;
    margin-bottom: 4rem;
}

/*Testimonials sections*/
.testimonials-container {
    position: relative;
}

.testimonial-content {
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.45rem;
}

.testimonial-steps {
    text-align: center;
    margin-top: 2rem;
}

.testimonial-step {
    cursor: pointer;
    height: 3px;
    width: 15px;
    background: var(--step-bg-colour);
    display: inline-block;
}

.testimonial-next, .testimonial-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.testimonial-prev  {
    left: 0;
}

.testimonial-next {
    right: 0;
}

/*navigation & content */
.navigation {
    width: 50%;
    margin: 0 auto 2.5rem;
}

.navigation ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--font-colour-light);
}

.current {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--font-colour-dark);
}

.navigation-content {
    width: 30%;
}

.navigation-content img {
    max-width: 100%;
}

.navigation-content__title {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 0;
}

.navigation-content__desc {
    margin-top: .5rem;
    font-weight: 600;
    font-size: 1.15rem;
}

.navigation-content__desc--underline {
    text-decoration: underline;
    text-underline-position: under;
}

.navigation-content__date {
    font-size: .9rem;
    color: var(--font-colour-light);
}

/*faq*/
.faq-heading {
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

/*faq collapse component */
.collapsible-container {
    margin-left: 5%;
    flex-shrink: 0;
    width: 60%;
}

.collapsible-item {
    border-bottom: 1px solid var(--collapse-border-colour);
    padding-bottom: 2rem;
}

.collapsible-button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    outline: none;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0;
    align-items: center;
}

/*safari ui fix*/
.collapsible-button:active {
    color: var(--font-colour-dark);
}

.collapsible-content {
    display: none;
}

.collapsible-content p {
    margin-bottom: 0;
}

/*footer*/
.footer-heading {
    font-size: 2rem;
}

/* footer slider component*/
.slider-component {
    overflow: scroll;
    box-shadow: -85px 61px 0 var(--box-shadow-colour) ;
    padding-bottom: 6rem;
    background: var(--box-shadow-colour);
}

.slider-component div > img {
   height: 280px;
    padding-left: 3px;
}

.slider-component p {
    font-weight: 600;
    font-size: 1.15rem;
}

/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
/*UTILITIES */
.block-heading {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    position: relative;
}

.block-heading::before, .block-heading::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 30%;
    background: var(--block-heading-line);
    top: 1.2rem;
    color: var(--block-heading-line);
}

.block-heading::before {
    left: 0;
}

.block-heading::after {
    right: 0;
}

.content-wrapper {
    width: 80%;
    margin: 8rem auto 0;
}

.d-flex {
    display: flex;
}

.basic-icon {
    background: var(--basic-icon-bg);
    padding: .75rem;
}

.m-left {
    margin-left: 6%;
}

.m-top {
    margin-top: 8rem;
}

.active {
    background: var(--step-active-colour);
}

.inline-link a {
    color: var(--button-cta-bg);
}

.bold {
    font-weight: 700;
}

.justify-content {
    justify-content: space-between;
}

.orange {
    color: var(--font-colour-orange);
}

.purple {
    color: var(--font-colour-purple);
}

.blue {
    color: var(--font-color-blue);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*-----------*/
/*-----------*/
/*-----------*/
/*-----------*/
/*MEDIA QUERIES */
@media (min-width: 580px) {
    .d-flex.slider-component {
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .block-heading {
        text-align: left;
        font-size: 1.25rem;
    }

    .testimonial-content {
        width: unset;
        font-size: 1.15rem;
    }

    .slider-component {
        overflow: unset;
    }

    .d-flex.slider-component img {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    body {
        padding-top: 0;
    }

    .block-heading:after, .block-heading::before {
        display: none;
    }

    .content-wrapper {
       margin-top: 3rem;
        width: 100%;
    }

    .d-flex {
        flex-direction: column;
    }

    .header-content h1 {
        font-size: 2.15rem;
        line-height: 2.5rem;
    }

    .header-image {
        margin-left: 0;
        width: 100%;
        margin-top: 2rem;
    }

    .section-heading {
        width: 100%;
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }

    .mb-text-c {
        text-align: center;
    }

    .testimonial-content img {
        display: none;
    }

    .testimonial-next {
        right: -15px;
    }

    .testimonial-prev {
        left: -15px;
    }

    .navigation {
        width: unset;
    }

    article .m-left {
        margin-left: 0;
    }

    .navigation ul {
        display: none;
    }

    .navigation-content {
        width: unset;
    }

    section h3.m-top {
        margin-top: 3rem;
    }

    .faq-heading {
        margin-top: 0;
    }

    .collapsible-container {
        margin-left: 0;
        width: unset;
    }

    .collapsible-button {
        align-items: flex-start;
    }

    .slider-component {
        box-shadow: -15px 61px 0 var(--box-shadow-colour);
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .d-flex.tablet-only {
        flex-direction: row;
    }

    .navigation-content {
        width: 30%;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .block-heading:after, .block-heading::before {
        width: 15%;
    }

    .content-wrapper {
        width: 95%;
    }
}